# Flask web framework
# Flask==2.3.2
Flask

# LGPIO-bibliotek for Raspberry Pi GPIO-håndtering
#lgpio==0.0.9
lgpio

# Eventuelt for fremtidig loggrotering eller avansert logging
# (kan kommenteres ut hvis ikke brukt)
python-json-logger==2.0.7
#logger

# Flask-CLI (for utvikling og testing)
#click==8.1.3
click